@import "../settings/colors";

.answer {
  width: 433px;
  background: $white-color;
  border: 2px solid $blue-color;
  min-height: 70px;
  padding-left: 20px;
  cursor: pointer;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .answerNumber {
    height: 67px;
    position: absolute;
    left: -1px;
    font-size: 32px;
    background-color: $blue-color;
    color: $white-color;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .answerText {
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
}

.correct-answer {
  border: 2px solid $green-color;
}

.correct-answer .answerNumber {
  background: $green-color;
}

.wrong-answer {
  border: 2px solid $darkred-color;
}

.wrong-answer .answerNumber {
  background: $darkred-color;
}

.disabled-answer {
  pointer-events: none;
}
