.next-button {
  margin: 0 auto;
  color: #fff;
  background: #0b0e21;
  width: 300px;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 75px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}
