@import "../settings/colors";

.questionsNumber {
  background: $white-color;
  font-size: 24px;
  width: 200px;
  margin: 30px auto;
  font-weight: bold;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
