@import "../settings/colors";

.login {
  padding-top: 75px;
  h1 {
    font-family: "Carattere", cursive;
    font-size: 60px;
    color: $white-color;
  }
  form {
    background: $white-color;
    border-radius: 10px;
    padding: 30px;
    width: 50%;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 30%);
    .requiredMark {
      color: $red-color;
    }
  }
  input {
    &:focus {
      box-shadow: none;
    }
  }
  .loginBtn {
    border: none;
    color: $white-color;
    background: $lightred-color;
    width: 120px;
    height: 35px;
    display: inline-block;
    outline: none;
    box-shadow: none;
    font-weight: 500;
    border-radius: 4px;
    justify-content: center;
    font-size: 14px;
    display: flex;
    align-items: center;
    &:hover {
      background: $lightgreen-color;
      transition: 0.5s all ease-in-out;
    }
    .loading {
      margin-left: 8px;
    }
  }
}

////////////////////////////////media query////////////////////////
@media (max-width: 992px) {
  form {
    width: 90% !important;
  }
}
