@import "../settings/colors";

.question {
  background-color: $white-color;
  color: $main-bg;
  padding: 20px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  border-radius: 4px;
}
