$main-bg: #3f4079;
$white-color: #fff;
$red-color: #f00;
$darkred-color: #dc0a0a;
$lightred-color: #e74e84;
$lightgreen-color: #69bdb4;
$black-color: #0b0e21;
$green-color: #1ea55b;
$blue-color: #0094da;
